# Configure screenshot folder (see dotfiles/macos/settings.sh)
#export DOT_screenshot_dir="$HOME/Desktop"

# Configure private npm registry
#export npm_config_registry="http://npm.example.com"

# Configure Git Trainer Mode (see dotfiles/functions/prompt_pure_setup)
#export PURE_GIT_PULL=0

# Where Homebrew should be installed to
export BREW_HOME="$HOME"

# Where nvm is installed to
export NVM_HOME="$HOME"
